{% extends 'base.html' %}

{% block head %}
<title>Debugging Dragons Dashboard</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Debugging Dragons Dashboard</h1>
    <body>
        <a href="/summary/">
            <button>Code review</button>
        </a>
        <a href="/chatbot/">
            <button>Chatbot</button>
        </a>
        <br>
        <br>
            <h2>Reviewed pull requests</h2>
        <table>
            <tr>
                <th>Pull request</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="">View</a>
                    <br>
                    <a href="">Delete</a>
                </td>
            </tr>
        </table>
    </body>
</div>
{% endblock %}